<!DOCTYPE html>
<html>

<head>
    <title>🐍✂️ PastePy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/dracula.min.css">
</head>

<body>
    <div class="navbar">
        <button form="save-form" type="submit"><i class="fas fa-save"></i></button>
        <form id="save-form" method="POST" action="/save">
            <select name="duration">
                {% for option, value in duration_options.items() %}
                    <option value="{{ value }}">{{ option }}</option>
                {% endfor %}
            </select>
            <input type="text" id="snippetName" name="snippetName" placeholder="Snippet Name">
            <input type="hidden" name="snippet" id="snippet-input">
        </form>
        <span class="navbar-title">🐍✂️ Editor</span>
    </div>
    <!-- don't remove: CodeMirror masks this -->
    <textarea id="editor" style="visibility: hidden"></textarea>

    <!-- Error -->
    <div class="error-popup" id="error-popup" style="display: none;">
        <div class="error-popup-content">
            <i class="fas fa-times"></i>
            <p id="error-message"></p>
        </div>
    </div>

    <footer class="footer">
        <p>Built by Boketto &amp; TheMightyCta   |   AGPLv3 2023</p>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/selection/active-line.min.js"></script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        theme: "dracula",
        mode: "python",
        styleActiveLine: true
    });

    editor.on("change", function() {
        document.getElementById("snippet-input").value = editor.getValue();
    });

    document.getElementById('save-form').addEventListener('submit', async function(event) {
        event.preventDefault();

        const response = await fetch('/save', {
            method: 'POST',
            body: new FormData(this)
        });

        if (response.redirected) {
            // Redirect to the snippet page
            window.location.href = response.url;
        } else {
            // Handle error response
            const responseData = await response.json();
            const { error } = responseData;
            showErrorPopup(error);
        }
    });

    function showErrorPopup(errorMessage) {
        var errorPopup = document.getElementById("error-popup");
        var errorMessageElement = document.getElementById("error-message");
        errorMessageElement.textContent = errorMessage;
        errorPopup.style.display = "flex";
        setTimeout(function() {
            errorPopup.style.display = "none";
        }, 2000);
    }
</script>

</body>
</html>
