<!DOCTYPE html>
<html>
<head>
    <title>{{ snippet_name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bad-words/3.0.3/badwords.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var codeElement = document.querySelector("code");
            var filter = new BadWordsFilter();
            var censoredText = filter.clean(codeElement.textContent);
            codeElement.textContent = censoredText;
        });
    </script>
</head>
<body>
    <div class="navbar">
        <button onclick="location.href='/'" type="button"><i class="fas fa-home"></i></button>

        <span class="navbar-title">🐍✂️ Preview</span>
    </div>

    <pre><code>{{ snippet }}</code></pre>

    <footer class="footer">
        <p>Built by Boketto &amp; TheMightyCta   |   AGPLv3 2023</p>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>
